<!-- Footer -->
<footer class="page-footer font-small red darken-4 py-4" style="position: fixed;width: 100%;">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-6 d-flex justify-content-start">
        <!-- Copyright -->
        <div class="footer-copyright text-center bg-transparent">© 2020 Copyright:
          <a href=""> UAA- Sistemas Computacionales 7°A</a>
        </div>
        <!-- Copyright -->
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <ul class="list-unstyled d-flex mb-0">
          <li>
          	<a class="mr-3" role="button"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
          	<a class="mr-3" role="button"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
          	<a class="mr-3" role="button"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
          	<a class="" role="button"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- Footer Elements -->

</footer>
<!-- Footer -->