<div class="container my-5 z-depth-1">


    <section class="dark-grey-text">
  
      <div class="row pr-lg-5">
        <div class="col-md-7 mb-4">
  
          <div class="view" style="padding-top: 50px; padding-left: 20px;">
            <img src="../../assets/not3.png" class="img-fluid" alt="smaple image" style="width: 90%; ">
          </div>
  
        </div>
        <div class="col-md-5 d-flex align-items-center" style="padding: 30px;">
          <div >
            
            <h3 class="font-weight-bold mb-4" style="text-align: center;">Respuesta inmediata a los reportes</h3>
  
              <p style="text-align: justify;">Al realizar un reporte, este será identificado y comunicado a las autoridades más adecuadas para su dicha solución, efectuando la operación de manera inmediata.</p>
                <br>   
                <p style="text-align: justify;"> En esta plataforma implementamos un sistema para atender a los reportes ciudadanos ya sean accidentes, riñas, problemas de tráfico, alumbrado, entre otras más. Esta plataforma está siempre al pendiente de todos los reportes generados a través de ella, los ciudadanos podrán tener la comodidad de enviar su reporte de cualquier tipo que esté dentro de los servicios que el departamento atiende.</p>
                <br>
                <div>
                    <button type="button" class="btn btn-danger btn-rounded mx-0" routerLink="/home" style="margin: 15px;">Regresar</button>
                </div>
          </div>
        </div>
        
        
      </div>
      
    </section>
 
  
  </div>