<div class="container my-5">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4><b>asd</b></h4>
        </mat-panel-title>
        <mat-panel-description>
          Consultar todos los servicios de Emergencia disponibles
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Servicio</th>
            <th scope="col">Numero (Teléfono)</th>

          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </mat-expansion-panel>
  </div>