<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark lighten-1" style="background-color: #BF1111">
  <i class="fas fa-exclamation-triangle"></i><a class="navbar-brand" href="#">&nbsp;Reporte Ciudadano</a>
  <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="fas fa-bars fa-1x"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home&nbsp;&nbsp;
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="reportes">Generar un Reporte &nbsp;&nbsp;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="consultas">Consultar Reportes</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">
        <a class="nav-link p-0" routerLink="login">
          <img src="../../assets/pp.jpg" class="rounded-circle z-depth-0" alt="avatar image" height="35">
        </a>
      </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar -->