<div class="container my-5 z-depth-1">


    <section class="dark-grey-text">
  
      <div class="row pr-lg-5">
        <div class="col-md-7 mb-4">
  
          <div class="view" style="padding-top: 50px; padding-left: 20px;">
            <img src="../../assets/not2.png" class="img-fluid" alt="smaple image" style="width: 90%; ">
          </div>
  
        </div>
        <div class="col-md-5 d-flex align-items-center" style="padding: 30px;">
          <div >
            
            <h3 class="font-weight-bold mb-4" style="text-align: center;">La seguridad de Aguascalientes es notoria</h3>
  
              <p style="text-align: justify;">Aguascalientes se mantiene como una de las entidades más seguras del país, reiteró el gobernador Martín Orozco Sandoval, al participar en la reunión mensual de los integrantes del Consejo Coordinador Empresarial en el Estado con autoridades en materia de seguridad pública.</p>
                <br>   
                <p style="text-align: justify;"> Durante el encuentro, el mandatario estatal escuchó las dudas e inquietudes de los representantes empresariales y destacó su compromiso con la prevención del delito que dijo, es trabajo de todos los días que requiere la participación y denuncia de los diversos sectores productivos y de la sociedad en general.</p>
                <br>
                <div>
                    <button type="button" class="btn btn-danger btn-rounded mx-0" routerLink="/home" style="margin: 15px;">Regresar</button>
                </div>
          </div>
        </div>
        
        
      </div>
      
    </section>
 
  
  </div>