<div class="container my-5">

   
    <section class="dark-grey-text text-center">

        
        <h3 class="font-weight-bold black-text mb-4 pb-2">Generando Reporte</h3>
        <hr class="w-header">   
        <p class="lead text-muted mx-auto mt-4 pt-2 mb-5">Introduzca el reporte que desee hacer.</p>
        <div class="row" style="justify-content: center;">

            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a class="card hoverable" style="background-color: #BF1111;" routerLink="/RUrgente">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-exclamation fa-2x white-text text-muted"></i></p>

                        <h5  style="color:whitesmoke">Reporte Urgente</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 mb-4" >

                <!-- Card -->
                <a class="card hoverable" routerLink="/RAnonimo">

                    <!-- Card content -->
                    <div class="card-body my-4" >

                        <p><i class="fas fa-user-lock black-text fa-2x text-muted"></i></p>
                        <h5 class="black-text mb-0">Reporte Anónimo</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a class="card hoverable" style="background-color: rgba(31, 96, 235, 0.699);" routerLink="/RNormal">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-flag fa-2x black-text text-muted"></i></p>

                        <h5 class="black-text mb-0">Reporte Normal</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->


        </div>


    </section>

<div><br><br>
    <br><br>
    <br><br>
    <br><br>
</div>
    

</div>