<div class="container my-5 z-depth-1">


    <section class="dark-grey-text">
  
      <div class="row pr-lg-5">
        <div class="col-md-7 mb-4">
  
          <div class="view" style="padding-top: 50px; padding-left: 20px;">
            <img src="../../assets/not1.png" class="img-fluid" alt="smaple image" style="width: 90%; ">
          </div>
  
        </div>
        <div class="col-md-5 d-flex align-items-center" style="padding: 30px;">
          <div>
            
            <h3 class="font-weight-bold mb-4">Movilidad más segura y ordenada</h3>
  
              <p>La Dirección de Movilidad Municipal puso en operación dos nuevos cruceros semaforizados en el tercer anillo y avenida Constitución, en Loma Bonita, y en el bulevar Juan Pablo II y avenida Fuentes del Lago, en beneficio de 12 mil a 15 mil habitantes que transitan a diario por ambas zonas.</p>
                <br>   
                <p> El comandante Arturo Martinez Morales, director de Movilidad, indicó que estos cruces de semáforos controlan el flujo vehicular de las colonias Loma Bonita, Gomez Morín y Villas de las Canteras, así como Jardines de Lago, Canteras de San Agustín, Trojes y Canteras de San José.</p>
                <br>
                <div>
                    <button type="button" class="btn btn-danger btn-rounded mx-0" routerLink="/home" style="margin: 15px;">Regresar</button>
                </div>
          </div>
        </div>
        
        
      </div>
      
    </section>
 
  
  </div>