<div class="container mt-5">


  <!--Section: Content-->
  <section class="dark-grey-text text-center">

    <!-- Section heading -->
    <h2 class="font-weight-bold mb-4 pb-2">¿Hay algún problema? Genera tu reporte aquí</h2>

    <!-- Boton de reportes -->
    <a class="btn btn-danger btn-rounded btn-md"
      style="border-radius: 15px; padding-top: 18px; padding-bottom: 18px; color: whitesmoke;"
      routerLink="/reportes">Crear nuevo reporte</a>
    <br><br>


    <p class="text-center mx-auto w-responsive mb-5">Click aquí para generar un nuevo reporte.</p>


    <div class="row">


      <div class="col-lg-4 col-md-6 mb-4">


        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="../../assets/not1.png" alt="Noticia 1">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>


        <a href="#!" class="red-text">
          <h6 class="font-weight-bold mb-3">Más Seguridad</h6>
        </a>

        <h4 class="font-weight-bold mb-3"><strong>Movilidad más segura y ordenada</strong></h4>

        <p>15/11/2020</p>

        <p class="dark-grey-text">La Dirección de Movilidad Municipal puso en operación dos
          nuevos recursos semaforizados en tercer anillo y avenida Constitución, en beneficio de 12 mil a 15 mil
          habitantes
          que transitan diario.
        </p>

        <a class="btn btn-danger  btn-rounded btn-md" style="color: whitesmoke;" routerLink="/pUno">Ver más</a>

      </div>



      <div class="col-lg-4 col-md-6 mb-4">


        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="../../assets/not2.png" alt="Noticia 2">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>


        <a href="#!" class="deep-orange-text">
          <h6 class="font-weight-bold mb-3">Local</h6>
        </a>

        <h4 class="font-weight-bold mb-3"><strong>La seguridad de Aguascalientes es notoria</strong></h4>

        <p>20/11/2020</p>

        <p class="dark-grey-text">Aguascalientes se mantiene como una de las entidades más seguras del país, reiteró el
          gobernador Martín Orozco Sandoval.
          Al participar en la reunión de los integrantes del Consejo Coordinador Empresarial
        </p>

        <a class="btn btn-danger btn-rounded btn-md" style="color: whitesmoke;" routerLink="/pDos">Ver más</a>

      </div>



      <div class="col-lg-4 col-md-6 mb-4">


        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="../../assets/not3.png" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>


        <a href="#!" class="blue-text">
          <h6 class="font-weight-bold mb-3">Respuesta</h6>
        </a>

        <h4 class="font-weight-bold mb-3"><strong>Respuesta inmediata a los reportes</strong></h4>

        <p>24/11/2020</p>

        <p class="dark-grey-text">Al realizar un reporte, este será identificado y comunicado a las autoridades más
          adecuadas para su dicha solución, efectuando la operación de manera inmediata.</p>

        <a class="btn btn-danger btn-rounded btn-md" style="color: whitesmoke;" routerLink="/pTres">Ver más</a>

      </div>


    </div>


  </section>

  <div>
    <br><br>
  </div>

</div>